.card-header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .col-4 {
  max-width: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.hide {
  display: none;
}

label.btn-outline-primary:hover {
  background-color: #30AAF1;
}
label.btn-outline-primary:not(:disabled):not(.disabled).active:hover {
  background-color: #2584BB;
}

label.btn-outline-info:hover {
  background-color: #07539a;
}
label.btn-outline-info:not(:disabled):not(.disabled).active:hover {
  background-color: #032a4f;
}

.field-required {
  color: red;
}

.tool-image{
  width: 350px;
  border: 1px #ddd;
}

.my-image {
  padding: 0px;
  height: 300px;
  display: block;
  object-fit: contain;
}

.error{
  margin-top: 20px;
}

.error-display-message{
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  color: #721c24;
  font-size: 15pt;
}