.card-header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbotron .col-4 {
  max-width: 100%;
}
.btn-container {
  display: flex;
  justify-content: space-evenly;
}
.hide {
  display: none;
}
label.btn-outline-primary:hover {
  background-color: #30AAF1;
}
label.btn-outline-primary:not(:disabled):not(.disabled).active:hover {
  background-color: #2584BB;
}